.about {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 30px;
}

.about__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #000000;
    padding-bottom: 23px;
    border-bottom: 1px solid black;
    margin: 110px 0px 0px 0px;
}

.about__items {
    display: flex;
    justify-content: space-between;
    margin: 70px 0 110px 0px;
}

.about__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0 0 26px 0;
    padding: 0;
}

.about__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}

.about__weeks {
    display: flex;
    margin: 0;
    padding: 0;
}
.about__week1 {
    background: #3456F3;
    max-width: 228px;
    width: 100%;
    color: white;
    text-align: center;
    align-self: center;
    align-items: center;
    margin: 0;
    padding: 9px 0px;
}
.about__week2 {
    align-self: center;
    text-align: center;
    width: 100%;
    background: #F2F2F2;
    margin: 0;
    padding: 9px 0px;
}
.about__spec {
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #A0A0A0;
}

.about__timeline {
    margin-bottom: 110px;
}
.about__back {
    max-width: 228px;
    width: 100%;
    margin: 0;
    padding: 9px 0px;
}
.about__front {
    margin: 0;
    padding: 9px 0px;
    width: 100%;
}

@media screen and (max-width: 1279px) {
    .about {
        margin: 0 auto;
    }

    .about__title {
        margin: 90px 0px 0px 0px;
    }
    .about__info {
        font-size: 12px;
        line-height: 18px;
    }
    .about__items {
        justify-content: center;
        text-align: left;
        margin: 70px 0 93px 0px;
    }
    .about__item {
        margin-right: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .about__item:last-child {
        margin-right: 0;
    }
    .about__timeline {
        margin-bottom: 90px;
    }

}

@media screen and (max-width: 767px) {
    .about {
        padding: 0px 18px;
    }
    .about__title {
        margin: 70px 0px 0px 0px;
        padding-bottom: 28px;
    }
    .about__items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 60px 0px;
    }
    .about__subtitle {
        color: #000000;
        margin: 0 0 16px 0;

    }
    .about__item {
        margin-bottom: 56px;
    }
    .about__item:last-child {
        margin-bottom: 0;
    }
    .about__week1 {
        max-width: 100px;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }
    .about__week2 {
        width: 100%;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }
    .about__back {
        max-width: 100px;
        font-size: 11px;
        line-height: 13px;
    }
    .about__front {
        width: 100%;
        font-size: 11px;
        line-height: 13px;
    }
    .about__timeline {
        margin: 0 auto;
        width: 100%;
    }
}