.profile {
    max-width: 410px;
    margin: 0 auto;
}

.profile__title {
    margin: 74px 0px 123px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.profile__body {
    margin-bottom: 220px;
    padding: 0;
    border: none;
}

.profile__name {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.profile__input {
    border: none;
    text-decoration: none;
    background-color: transparent;
    text-align: right;
}

.profile__container {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #000000;
    display: flex;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}

.profile__container:first-child {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;

}

.profile__email {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.profile__error {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.profile__edit {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

.profile__link {
    margin: 0px 0px 16px 0px;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.profile__exit {
    font-weight: 500;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #EE3465;
}

@media screen and (max-width: 1279px) {
    .profile__body {
        margin-bottom: 210px;
    }

    .profile__edit {
        padding-bottom: 269px;
    }
}

@media screen and (max-width: 767px) {
    .profile__title {
        margin: 70px 0px 80px;
    }

    .profile__body {
        padding: 0px 30px;
        margin-bottom: 379px;
    }

    .profile__edit {
        padding-bottom: 40px;
    }
}